
body {
background-image: url("https://www.artofliving.org/in-en/app/uploads/2023/06/meditation-incarnation.jpg");

background-color: #ECF2FF;
background-size: cover;

}


.colored-section {
background-image: url("https://www.artofliving.org/in-en/app/uploads/2023/06/meditation-incarnation.jpg");
/* The image used */
background-color: #E8E2e6;
/* Used if the image is unavailable */
height: 700px;
/* You must set a specified height */
background-position: center;
/* Center the image */
background-repeat: repeat;
/* Do not repeat the image */
background-size: cover;
/* Resize the background image to cover the entire container */
padding: 0rem;

}



.navbar {
margin-top: 30px;
font-weight: bolder;
font-family: "Montserrat-Bold";
}



#features {
position: relative;
/* background-color: whitesmoke; */
color: black;
}
.feature-title {
font-size: 1.5rem;
}

.feature-box {
padding: 4.5%;
}

.icon {
color: #92B4EC;
margin-bottom: 1rem;
}

.icon:hover {
color: #1C6DD0;
}

#features {
padding: 40px;
text-align: center;
}
#footer {
text-align: center;
height: fit-content;
padding: 30px;
}

.social-icon {
margin: 20px 10px;
}

@media (max-width: 1028px) {

#title {
text-align: center;
}

.title-image {
position: static;
transform: rotate(0);
}
}
.us{
height: auto;
max-width: 120%;
border-radius: 100%;
display: block;
margin-left: auto;
margin-right: auto;
width: 30%;
/* height:450px;
padding:50px; */
margin-top: 30px;
margin-bottom: 20px;
}

.card-img-top{
height: 350px;;
}
.card-deck{
padding: 20px;
border-bottom: 20px;
}
.card-body{
padding:10%;
}
.btn{
height:30%;
width:100%;
}
input[type=text], select, textarea{
width: 100%;
padding: 12px;
/* border: 1px solid #ccc; */
border-radius: 4px;
box-sizing: border-box;
resize: vertical;
}

/* Style the label to display next to the inputs */
label {
padding: 12px 12px 12px 0;
display: inline-block;
}

/* Style the submit button */
input[type=submit] {
background-color: #04AA6D;
color: white;
padding: 12px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
float: right;
}

/* Style the container */
.container {
border-radius: 5px;
background-color: #f2f2f2;
padding: 50px;
margin:50px;
}

/* Floating column for labels: 25% width */
.col-25 {
float: left;
width: 25%;
margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
float: left;
width: 75%;
margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
.col-25, .col-75, input[type=submit] {
width: 100%;
margin-top: 0;
}
}

